<h1>About us</h1>

<p>
  This is a small project a decided to take in order to imporve my knowledge about
  Ruby on Rails. The Friends App lets you sign up/sign in and add all your friends
  contacts such as their full name, email , phone number and twitter.
  This app uses rails , bootstrap , devise and some other gems.
  I hope you like it .
</p>


<%= image_tag "friends.jpeg", class:"image" %>
